<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Amazon-Test{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/base.css') }}" />
        {% block stylesheets %}{% endblock %}
        <script language="javascript" type="text/javascript" src="{{ asset('js/angular.min.js') }}"></script>
        <script language="javascript" type="text/javascript" src="{{ asset('js/angular-animate.min.js') }}"></script>
        {% block javascript %}{% endblock %}
    </head>
    <body>
        <header>
            <h1>Meine Internetseite</h1>
        </header>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
