{% block main_nav %}
<div>
<ul style="display:table">
<li style="display:table-cell">Home</li>
<li style="display:table-cell">Allgemeines</li>
<li style="display:table-cell">Kontakt</li>
<li style="display:table-cell">Impressum</li>
</ul>
{% endblock %}
