{% block main_nav %}
<nav id="main_navi">
<ul>
<li><a href="{{ path('homepage') }}">Home</a></li>
<li><a href="{{ path('homepage') }}">Allgemeines</a></li>
<li><a href="{{ path('homepage') }}">Kontakt</a></li>
<li><a href="{{ path('homepage') }}">Impressum</a></li>
</ul>
</nav>
{% endblock %}
