{% extends "::base.html.twig" %}

{% block title %}Produkt hinzufuegen{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/forms.css') }}" />
{% endblock %}
{% block body %}
<h1>Produkt hinzufügen:</h1>

</div>
{% endblock %}
