{% extends 'base.html.twig' %}
{% use 'main_nav.html.twig' %}
{% block body %}
<div>Hallo liebe User!</div>
{% endblock %}

{% block stylesheets %}
<link rel='stylesheet' id='css'  href='' type='text/css' media='all' />
{% endblock %}
