@charset "utf-8";

* {
    margin: 0;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
}

html {
    font-size: 100%;
}

body {
    font-size: 1em;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    color: #000;
    width: 90%;
    margin: 0 auto;
}

strong, b {
    font-weight: bold;
}

em, i {
    font-style: italic;
}

h1, h2, h3, h4 {
    font-weight: bold;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1.15rem;
}

h4 {
    font-size: 1rem;
}

p {
    color: #fa3;
    text-decoration: none;
    font-family: arial, sans-serif;   
}

a {
    color: #fa3;
    text-decoration: none;
}

header {
    background-color: black;
    color: white;
    padding: 20px;
    margin: 0px;
    width: 100%;
    height: 80px;
}

#main_navi,
#main_navi ul
#main_navi ul li a {
    margin: 0;
    padding: 0;
}

#main_navi ul {
    list-style-type: none;
    display: table;
    width: 100%;
    background-color:red;
}

#main_navi ul li {
    display: table-cell;
    text-align: center;
    white-space: nowrap;
    border-left: 1px solid grey;
    border-right: 1px solid right;
}

#main_navi ul li:first-child {
    border-left-style: none;
}


#main_navi ul li:last-child {
    border-right-style: none;
}

#main_navi ul li a {
    display: block;
    text-decoration: none;
    font-weight: normal;
    color: black;
}

.flash-notice {
    color: #aa0000;
}
