html {
    font-size: 100%;
}

body {
    font-size: 1em;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    color: #000;
}

strong, b {
    font-weight: bold;
}

em, i {
    font-style: italic;
}

h1, h2, h3, h4 {
    font-weight: bold;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1.15rem;
}

h4 {
    font-size: 1rem;
}

p {
    color: #fa3;
    text-decoration: none;
}

a {
    color: #fa3;
    text-decoration: none;
}
